<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/success.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="page-success">
    <div id="text-success">
      
      <p>Seu cadastro foi realizado com sucesso!</p>
      
      <div id="image"></div>
      <img
        src="/images/success-background.svg"
        alt="Página de cadastro realizado com sucesso"
      />
    </div>
    </div>
    
  </body>
  <script>
    //um manipulador de eventos para o evento de carregamento do objeto

      window.onload = function () {
      setTimeout(() => {
        location.href = '/study';
      }, 2000);
    }; 
  </script>
</html>
